/* Used for the various warning popups that are on various pages */

$lightBG: #fdf8f2;

#popup-modal {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $lightBG;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    z-index: 1000;
}

#warning-popup-modal {
    position: fixed;
    z-index: 100;
    max-width: 500px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $lightBG;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    z-index: 1000;
}

#warning-popup-modal .modal-content {
    display: block;
}

#warning-popup-modal .btn {
    padding: 10px 0 10px 0;
    width: 100px;
}

.modal-content textarea {
    width: 100%;
    padding: 5px 0 5px 0;
}
.modal-content .alert-warning {
    max-height: 300px !important;
    overflow: scroll !important;
}

#dark-screen {
    background-color: rgba(32, 32, 32, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#publish-popup-modal {
    position: fixed;
    z-index: 100;
    max-width: 500px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $lightBG;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    z-index: 1000;
}

#publish-popup-modal .modal-content {
    display: block;
}

#publish-popup-modal .btn {
    padding: 10px 0 10px 0;
    width: 100px;
}
