.container-fluid.text-center.mt-3
    %h1 Accessibility statement

    %p 
        The following website will be created in compliance with
        the UK's accessibility guidelines for software which can
        be viewed  
        = link_to 'https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps' do
            %span here

    %p
        Additionally, a mobile view will be included to improve the ease of the using the website from different devices

    
