.container-fluid.p-0.w-75.mx-auto.my-4
    %h1 Legal statement 

    %p 
        All of the information handled on this website will be stored and handled
        in complience with the GDPR.

    %p This includes, but not limited to:
    %ul
        %li Only store user's name and email adress 
        %li Having the stored infomation encrypted
        %li Authentication being needed to use this service
        %li For certain features, will require the appropriate authorisation

    %p.fw-bold 
        It was specifically requested that the players would NOT have to sign up
        to the service to view the required information about events, despite it
        being a security risk. This was acknowledged and will require to rely on
        the users' integrity.

    %p Safety precautions involve:
    %ul
        %li Having alerts with confirmation for deleting/editing information
        %li 
            A warning message left on all pages that events require adult supervision
            and to contact the event organiser - important in the case of the signed 
            up player being underage



